.render {
  height: 100%;
  width: 100%;
}

.modelViewer {
  height: 100%;
  width: 100%;
  margin-top: -10px;
}

#poster img {
  position: fixed;
  top: 50vh;
  left: 50vw;
  height: 50px;
  width: 50px;
  transform: translate(-50%, -50%);
}